.modal-add-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(7px);
  background: rgba(34, 13, 91, 0.23);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 9990;
}

.modal-add-overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.modal-add-content {
  max-width: 320px;
  width: 100%;
  /*background: linear-gradient(
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)
  ), #734aef;*/
  background: linear-gradient(
    180deg,
    #503aa9 0%,
    #4c37b0 20%,
    #4d3ab0 45%,
    #5b4590 75%,
    #5e44a5 100%
  );
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.25);
  position: relative;
  padding: 28px 20px;
  box-sizing: border-box;
  height: 600px;
  overflow: auto;
  border-radius: 8px;

  transform: scale(0.95);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.modal-add-content.show {
  transform: scale(1);
  opacity: 1;
}

.modal-add-content.expense-mode {
  padding: 40px 20px;
}

.modal-add-close-button {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.modal-add-inside-button::before,
.modal-add-inside-button::after {
  content: '';
  position: absolute;
  background-color: white;
  width: 16px;
  height: 1px;
  border-radius: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-add-inside-button::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.modal-add-inside-button::after {
  transform: translate(-50%, -50%) rotate(315deg);
}

.modal-add-content .addTitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: white;
  margin: 0 auto 40px;
}

.modal-add-content.expense-mode .addTitle {
  margin: 0 auto 32px;
}

@media screen and (min-width: 768px) {
  .modal-add-close-button {
    display: block;
  }

  .modal-add-content {
    max-width: 540px;
    height: auto;
    padding: 41px 74px 39px 72px;
    overflow: visible;
  }

  .modal-add-content.expense-mode {
    padding: 40px 73px;
  }
}

@media screen and (min-width: 1280px) {
  .modal-add-content {
    padding: 40px 74px 40px 72px;
  }
}
