.modal-overlay {
    margin-top: 60px;
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(7px);
  background: rgba(34, 13, 91, 0.23);
  z-index: 9999;
}

.logout-modal {
  background: linear-gradient(180deg, #4B3F72 0%, #2C2B55 100%);
  padding: 239px 20px 238px 20px;
  width: 90%;
  max-width: 320px;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.3);
  text-align: center;
  position: relative;
}

/* Закрывающая кнопка */
.close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  background: transparent;
  border: none;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.inside-button::before,
.inside-button::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 16px;
  height: 1px;
  border-radius: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inside-button::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.inside-button::after {
  transform: translate(-50%, -50%) rotate(315deg);
}

/* Заголовок */
.logout-modal h2 {
  color: white;
  font-size: 18px;
  margin: 0px 0 40px;
  font-weight: 400;
  padding: 0 30px;
  text-align: center;
}

/* Кнопки */
.form-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Кнопка Logout */
.logout-btn {
  background: linear-gradient(90deg, #ffb627, #a259ff);
  border: none;
  border-radius: 24px;
  height: 48px;
  font-weight: 700;
  font-size: 16px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  opacity: 0.9;
}

.logout-btn:focus {
  outline: 2px solid #24cca7;
  outline-offset: 2px;
}

/* Кнопка Cancel */
.cancel-btn {
  background: white;
  border: none;
  border-radius: 24px;
  height: 48px;
  font-weight: 700;
  font-size: 16px;
  color: #4b3f72;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.cancel-btn:hover {
  background-color: #f2f2f2;
}

.cancel-btn:focus {
  outline: 2px solid #a259ff;
  outline-offset: 2px;
}
