.container {
  background-color: #101010dc;
  width: 320px;
  height: 214px;
  background-image: url('./currency-mob-bg.png');
  border-radius: 0 0 8px 8px;
}
.wrapper {
  width: 320px;
  height: 214px;
  border-radius: 0 0 8px 8px;
  backdrop-filter: blur(100px);
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
}

.title {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 13px;
  height: 50px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  font-weight: 600;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  justify-content: space-between;
  color: #fff;
}

.data {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 6px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.usd {
  display: flex;
  justify-content: space-between;
}

.eur {
  display: flex;
  justify-content: space-between;
}

.lineUsd {
  margin-top: 8px;
  margin-bottom: 0;
}

.lineEur {
  margin-top: 12px;
  margin-bottom: 0;
}

.diagram {
  display: inline-block;
  position: absolute;
  top: 60%;
}
.line {
  display: inline-block;
  position: absolute;
  top: 56%;
}
.leftDot {
  width: 6px;
  height: 6px;
  display: inline-block;
  position: absolute;
  top: 66%;
  left: 12%;
}
.rightDot {
  width: 6px;
  height: 6px;
  display: inline-block;
  position: absolute;
  top: 55%;
  left: 76%;
}
.eurDot {
  opacity: 0;
}
.usdDot {
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .container {
    background-color: #101010dc;
    width: 336px;
    height: 214px;
    background-image: url('./currency-mob-bg.png');
    border-radius: 0 0 8px 8px;
  }
  .wrapper {
    width: 336px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 480px;
    height: 380px;
    border-radius: 0 0 8px 8px;
  }
  .wrapper {
    width: 480px;
    height: 380px;
  }
  .title {
    padding-left: 62px;
    padding-right: 131px;
    padding-top: 16px;
    height: 56px;
  }
  .data {
    padding-left: 82px;
    padding-right: 131px;
    margin-bottom: 6px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
  }
  .lineUsd {
    margin-top: 24px;
  }
  .lineEur {
    margin-top: 24px;
  }

  .diagramDesktop {
    position: absolute;
    top: 60%;
  }
  .line {
    top: 52.5%;
  }
  .leftDot {
    height: 9px;
    width: 9px;
    top: 61%;
  }
  .rightDot {
    height: 9px;
    width: 9px;
    top: 51.9%;
  }
  .diagramNumberContainer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 271px;
    padding-left: 47px;
  }
  .eurDot {
    opacity: 100;
    padding-top: 16px;
    width: 34px;
    height: 18px;
    font-weight: 400;
    font-size: 12px;
    color: #ff868d;
  }
  .usdDot {
    opacity: 100;
    padding-top: 50px;
    width: 34px;
    height: 18px;
    font-weight: 400;
    font-size: 12px;
    color: #ff868d;
  }
}
