.wrapper {
    background: rgba(74, 86, 226, 0.1);
    width: 320px;
    height: 214px;
    border-radius: 0 0 8px 8px;
    backdrop-filter: blur(100px);
    box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
}

.title {
    padding-left: 20px;
    padding-right: 20px;
    background: rgba(74, 86, 226, 0.1);
    display: flex;
    font-weight: 600;
    font-size: 16px;
    justify-content: space-between;
}

.data {
    padding-left: 20px;
    padding-right: 20px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
}

.usd {
    display: flex;
    justify-content: space-between;
}

.eur {
    display: flex;
    justify-content: space-between;
}

.lineUsd {
    margin-top: 8px;
    margin-bottom: 0;
}

.lineEur {
    margin-top: 12px;
    margin-bottom: 0;
}