



.add-transaction-button {
  position: fixed ;
  bottom: 20px ;
  right: 20px ;
  width: 44px; 
  height: 44px; 
  background: linear-gradient(135deg, #ff7c7c, #ffb5b5);
  color: white;
  font-size: 30px; 
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.add-transaction-button::before,
.add-transaction-button::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 20px;
  height: 2px;
  border-radius: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.add-transaction-button::before {
  transform: translate(-50%, -50%) rotate(90deg); /* Вертикальна  */
}

.add-transaction-button::after {
  transform: translate(-50%, -50%) rotate(0deg); /* Горизонтальна  */
}

.add-transaction-button:hover {
  background: linear-gradient(135deg, #ff4c4c, #ff8f8f);
}

@media screen and (min-width: 768px){
  .add-transaction-button{
    bottom: 40px ;
  right: 40px ;
  }
}